/ First Band (Slider)
.row
  .large-12.columns
    %ul#slider{'data-orbit' => true}
      %li
        %img{:src => "http://lorempixel.com/output/city-q-c-1000-360-8.jpg"}/
      %li
        %img{:src => "http://lorempixel.com/output/technics-q-c-1000-360-4.jpg"}/
      %li
        %img{:src => "http://lorempixel.com/output/technics-q-c-1000-360-9.jpg"}/
      %li
        %img{:src => "http://lorempixel.com/output/technics-q-c-1000-360-2.jpg"}/
/ Three-up Content Blocks
.row
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
/ Call to Action Panel
.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p We'd love to hear from you, you attractive person you.
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us